.control-panel {
   margin-top: 20px;
}
.control-panel__period-str {
   font-size: 15px;
}
.control-panel__menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-width: 280px;
   max-width: 360px;
}
.control-panel__menu select {
   flex-grow: 1;
   font-size: 15px;
   text-align-last: center;
}
.control-panel__menu img {
   cursor: pointer;
}

.control_panel_menu-item {
   margin: 10px 0;
   height: 30px;
}
.control_panel_datepicker {
   margin-top: 10px;
}
.control_panel_datepicker input{
   border: 1px solid #66666666;
   border-radius: 3px;
   text-align: center;
}
#control_panel_period{
   border: 1px solid #66666666;
   border-radius: 3px;
}
